/* :root {
  --color-bg: #0a0a0f;
  --color-surface: #111118;
  --color-border: #1e1e2e;
  --color-accent: #6366f1;
  --color-accent-hover: #4f46e5;
  --color-text: #e2e8f0;
  --color-muted: #64748b;
} */


:root {
  --color-gradient-1: #D4D7E4;
  --color-gradient-2: #DAE0E9;
  --color-gradient-3: #DEE6EC;

  --color-white: #ffffff ;
  --color-white-1:  #f1f4f8;
  --color-black: #000000 ;
  --color-grey-200: #DBE2E6;
  --color-bg: #D8DEE7 ;
  --color-surface: #EAEEF4;
  --color-border: #EDF5F8;
  --color-accent: #291D50;
  --color-accent-hover: #5d3689;
  --color-accent-2: #b085c2;

  --color-green-1: #51BF8F;
  --color-red-1: #83749F;
  --color-text: #979ea8;
  --color-muted: #64748b;
}